
Library/boost_1_53_0
Library/boost_1_54_0
UnitTest/Debug
UnitTest/Release
UnitTest/ipch
UnitTest/unitest.txt
Document/Manual.jtdc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.suo
*.opensdf


*.aps
*.$*
TestApp/DelaunayViewer/Release
TestApp/DelaunayViewer/Debug
ipch

